/* Calendar.css */
p,li
{
  font-size:1.8em;
  line-height:140%
}

ol,ul
{
  padding-left:1.5em
}

ol li
{
  margin-bottom:.3em
}

ul li
{
  /* list-style:circle; */
  margin-bottom:.3em
}

.calendar
{
  background-color:#ddd;
  border:.2em solid #333;
  font-family:Arial,Helvetica,sans-serif;
  overflow:auto;
  width:100%;
  box-sizing: border-box;
  padding:0.5em;
}

.calendar li
{
  background-color: RGB(192,255,192);
  border:.1em solid #999;
  float:left;
  font-size:90%;
  font-weight:lighter;
  height:1em;
  list-style-position:inside;
  list-style-type:decimal-leading-zero;

  margin-bottom:0;
  padding-left:0.5%;
  padding-right:0.5%;
  padding-bottom:1em;
  width:11.5%;
}

.calendar .monday{margin-left:0%}
.calendar .tuesday{margin-left:12.7%}
.calendar .wednesday{margin-left:25.4%}
.calendar .thursday{margin-left:38.1%}
.calendar .friday{margin-left:50.8%}
.calendar .saturday{margin-left:63.5%}
.calendar .sunday{margin-left:76.2%}


table
{
  font-family:Helvetica,Arial,sans-serif;
  width:100%
}
table td,table th
{
  font-size:1.5em;
  padding:.8em .5em .4em;
  border-bottom:.1em solid #ccc;
  vertical-align:bottom
}

.calendar .booked
{
 background-color:RGB(255,192,192);

}

.calendar .unavailable
{
 background-color:RGB(255,128,128);

}

.week
{
  font-family:sans-serif;
  font-size:80%;
  width:80%;
  margin-left:2%;
  margin-right:2%;
  font-weight:lighter;
  text-align:justify;
}
.lineEnd
{
 /* This causes ".week" to right-justify the whole width of the line */
  width:100%;
  display:inline-block;
}
